$font-2nd: 'Archivo Narrow', sans-serif;
$font-1st: 'Montserrat', sans-serif;

$color-1st: #37517E;
$color-1st-hover: #37517E;
$color-2nd: #37517E;
$color-heading: #303030;
$color-text: #767779;
$color-dark: #19161f;
$color-lightgray: #f4f4f4;
