body{
    font-family: Nunito;
}

.btnAdd {
    background-color: #EEEDED;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 2px solid #37517E;
    border-radius: 10px;
    width: 180px;
    float: left;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-align: center;
}
.btn-search{
    background-color: #34B6D3;
    width: 130px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    font-weight: bold;
}
.pagination{
    display: flex;
    justify-content: center;
}
.form{
    width: 700px;
    height: 600px;
    border-radius: 20px;
    margin:  0 auto;
}
.inputSearch {
    padding-left: 16px;
    border: none;
    width: 370px;
    background-color: #fff;
    border-radius: 15px;
    outline: 0;
}
.search {
    float: right;
    margin-top: 30px;
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.btnAdd:hover{
    background-color: #37517E;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;

}

.btnAdd > img {
    margin-right: 10px;
    margin-top: 3px;
    margin-left: 15px;
    float: left;
}

.btnAdd > p {
    margin-top: 5px;
    margin-right: 10px;
}
.form-add-update{
    width: 700px;
    height: 600px;
    margin: 0 auto;
    background-color: #37517E;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: "Nunito";
}
.form-view{
    background-color: #D9D9D9;
}